
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Ensures the container takes the full viewport height */
  }
  
  .img-fluid {
    flex: 1;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img-fluid img {
    width: 100%;
    height: auto;
  }
  
  .form {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  
  .form h1 {
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .img-fluid, .form {
      max-width: 100%;
      flex: 100%;
    }
  }
  .btn{
    background-color: aquamarine;
  }
  .btn:hover{
    background-color: rgb(172, 245, 221);
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .d-flex {
    justify-content: center;
  }
  #reg{
    background-color: rgb(178, 145, 238);
  }