
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%; /* Ensures the container takes the full viewport height */
  }

  body{
    background-image: url("https://t4.ftcdn.net/jpg/01/93/30/87/240_F_193308746_qzYdWJo8ZIP90POXtJ6Dy7L8PeaIvkHb.jpg");
      /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .img-fluid {
    flex: 1;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img-fluid img {
    width: 100%;
    height: auto;
  }
  
  .form {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  
  .form h1 {
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .img-fluid, .form {
      max-width: 100%;
      flex: 100%;
    }
  }
  .btn{
    background-color: purple;
    color: white;
  }
  .btn:hover{
    background-color: rgb(141, 99, 168);
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .d-flex {
    justify-content: center;
  }
  #reg{
    background-color: #000000;
    color: white;
  }
.card{
  width: 150px;
  margin: 20px;
  border-radius:30%;
  background-color: antiquewhite;
}
#info{
  justify-content: center;
}
.row{
  justify-content: center;
}