.adminpanel {
  position: relative;
  left: 270px;
  top: 30px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.adminbtn{
  padding: 10px;
  background-color: rgb(82, 128, 128);
}
.adminbtn a{
  color: black;
}



