.service{
    width: 80%;
    height: auto;
}
#cont{
    display: flex;
    justify-content: center;
}

#header{
    background: -webkit-linear-gradient(rgb(209, 0, 0),rgb(79, 255, 199),rgb(103, 194, 108),rgb(0, 80, 8));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}