
#adminform {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #000000;
}

#adminform label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="checkbox"]{
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  color: black;
  border-radius: 5px;
  box-sizing: border-box;
}


#adminform button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#admin{
  display: flex;
  flex-direction: row;
}
#isAdmin{
  display: inline;
  position: absolute;
  right: 111px;
}